<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.actnow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ActNow"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".PostDetailActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".AnotherProfileActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".CommentsActivity"
            android:exported="false" />

        <!-- Firebase конфигурация -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="AccessoryServicesLocation"
            android:value="none" />

        <meta-data
            android:name="com.google.firebase.database.DatabaseUrl"
            android:value="https://actnowforjava-default-rtdb.firebaseio.com" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/text" />

        <!-- Активности приложения -->
        <activity
            android:name=".AuthorizActivity"
            android:exported="true"
            android:label="@string/title_activity_authorized"
            android:theme="@style/Theme.ActNow" />

        <activity
            android:name=".RegistrActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>